main {
    width: 100%;
    height: 100%;
    background-color: white;
}

h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

#about {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(111, 117, 111);
    text-decoration: none;
    width: 1000px;
    margin: auto;
}

.bild_container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.background {
    width: 100%;
    height: auto;
    display: block;
}

.bestseller {
    padding: 2rem;
    text-align: center;
}
.bestseller h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.bestseller_layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.product_card {
    background-color: white;
    color: black;
    padding: 15px;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about {
    margin: 2rem auto;
}